<!DOCTYPE html>
<html>

<head>
  <title>Rumah Finder</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Oswald&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/stylehome.css' />
  <link rel="stylesheet" href="files/leaflet.css" />
  <script src="files/leaflet.js"></script>
</head>

<body>
  <div id="loadcontainer">
    Loading...
  </div>
  <nav id="navbar">
    <div id="logowithsearch">
      <div id="logocontainer">
        <button id="searchfilterbutton">
          <div id="searchfilterbuttonimg"></div>
        </button>
        <a id="logo" href="/"><img style="height: 25px;" src="/images/logowhite.png">RumahFinder<em id="logocapt">-
            cari dan jual
            rumah -</em></a>
      </div>
      <div id="searchcontainer">
        <input id="searchinput" type="text" placeholder="Search...">
      </div>
    </div>
    <button>Sign In</button>
  </nav>
  <div id="sidebarcontainer">
    <nav id="sidebar">
      <form id="browse">
        <div id="filtermaincontainer">
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checktype">
              <label class="filterlabel" for="type">Tipe</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="type" step="1" placeholder="Masukkan Tipe Rumah">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkprice">
              <label class="filterlabel" for="price">Harga</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="price" placeholder="Harga">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checklandarea">
              <label class="filterlabel" for="landarea">Luas Tanah</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="landarea" placeholder="Luas Tanah">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkcertificate">
              <label class="filterlabel" for="Sertifikat">Sertifikat</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputcertificate" name="certificate">
                <option disabled selected> Pilih Opsi Sertifikat ...</option>
                <option value="SHM">SHM</option>
                <option value="AJB">AJB</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkaddress">
              <label class="filterlabel" for="Address">Address</label>
            </div>
            <div class="filterinputcontainer">
              <textarea class="filterinput" type="text" name="address" placeholder="Address"></textarea>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checklat">
              <label class="filterlabel" for="Latitude">Latitude</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="lat" step="any" placeholder="Latitude">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checklong">
              <label class="filterlabel" for="Longitude">Longitude</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="long" step="any" placeholder="Longitude">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checknumfloor">
              <label class="filterlabel" for="numfloor">Jumlah Lantai</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="numfloor" placeholder="Jumlah Lantai">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkbedroom">
              <label class="filterlabel" for="bedroom">Jumlah Kamar Tidur</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="bedroom" placeholder="Jumlah Kamar Tidur">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkbathroom">
              <label class="filterlabel" for="bathroom">Jumlah Kamar Mandi</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="bathroom" placeholder="Jumlah Kamar Mandi">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkcarport">
              <label class="filterlabel" for="Garasi">Garasi</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputcarport" name="carport">
                <option disabled selected> Pilih Opsi Garasi ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkkitchen">
              <label class="filterlabel" for="Dapur">Dapur</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputkitchen" name="kitchen">
                <option disabled selected> Pilih Opsi Dapur ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkgarden">
              <label class="filterlabel" for="Kebun">Kebun</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputgarden" name="garden">
                <option disabled selected> Pilih Opsi Kebun ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkyard">
              <label class="filterlabel" for="Halaman">Halaman</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputyard" name="yard">
                <option disabled selected> Pilih Opsi Halaman ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checklivingroom">
              <label class="filterlabel" for="Ruang Tamu">Ruang Tamu</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputlivingroom" name="livingroom">
                <option disabled selected> Pilih Opsi Ruang Tamu ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkdiningroom">
              <label class="filterlabel" for="Ruang Makan">Ruang Makan</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputdiningroom" name="diningroom">
                <option disabled selected> Pilih Opsi Ruang Makan ...</option>
                <option value="true">Ada</option>
                <option value="false">Tidak ada</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkfoundation">
              <label class="filterlabel" for="Pondasi">Pondasi</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputfoundation" name="foundation">
                <option disabled selected> Pilih Opsi Pondasi ...</option>
                <option value="Cakar Ayam">Cakar Ayam</option>
                <option value="Raft">Raft</option>
                <option value="Tapak">Tapak</option>
                <option value="Tiang">Tiang</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkwall">
              <label class="filterlabel" for="Dinding">Dinding</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputwall" name="wall" multiple>
                <option disabled selected> Pilih Opsi Dinding ...</option>
                <option value="Bata Ringan">Bata Ringan</option>
                <option value="Plaster">Plaster</option>
                <option value="Bata Berat">Bata Berat</option>
                <option value="Baja">Baja</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkfloortype">
              <label class="filterlabel" for="Jenis Lantai">Jenis Lantai</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputfloortype" name="floortype">
                <option disabled selected> Pilih Opsi Jenis Lantai ...</option>
                <option value="Keramik">Keramik</option>
                <option value="Ubin">Ubin</option>
                <option value="Tanah">Tanah</option>
                <option value="Kayu">Kayu</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkfloorlength">
              <label class="filterlabel" for="floorlength">Ukuran Lantai</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="floorlength" placeholder="Ukuran Lantai">
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checksanitary">
              <label class="filterlabel" for="Sanitasi">Sanitasi</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputsanitary" name="sanitary" multiple>
                <option disabled selected> Pilih Opsi Sanitasi ...</option>
                <option value="Closet Duduk">Closet Duduk</option>
                <option value="Closet Jongkok">Closet Jongkok</option>
                <option value="Shower">Shower</option>
                <option value="Bathub">Bathub</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkjamb">
              <label class="filterlabel" for="Kusen">Kusen</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputjamb" name="jamb">
                <option disabled selected> Pilih Opsi Kusen ...</option>
                <option value="Plastik">Plastik</option>
                <option value="Kayu">Kayu</option>
                <option value="Alumunium">Alumunium</option>
                <option value="Beton">Beton</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkceiling">
              <label class="filterlabel" for="Plafon">Plafon</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputceiling" name="ceiling">
                <option disabled selected> Pilih Opsi Plafon ...</option>
                <option value="Gypsum">Gypsum</option>
                <option value="Triplek">Triplek</option>
                <option value="Baja">Baja</option>
                <option value="Granit">Granit</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkroof">
              <label class="filterlabel" for="Atap">Atap</label>
            </div>
            <div class="filterinputcontainer">
              <select class="filterinput filterselectinput" id="inputroof" name="roof">
                <option disabled selected> Pilih Opsi Atap ...</option>
                <option value="Rangka Baja Ringan">Rangka Baja Ringan</option>
                <option value="Rangka Kayu">Rangka Kayu</option>
                <option value="Seng">Seng</option>
              </select>
            </div>
          </div>
          <div class="filtercontainer">
            <div class="filtercheckboxcontainer">
              <input type="checkbox" class="filtercheck" name="checkelectricity">
              <label class="filterlabel" for="electricity">Listrik</label>
            </div>
            <div class="filterinputcontainer">
              <input class="filterinput" type="number" name="electricity" placeholder="Listrik">
            </div>
          </div>
        </div>

    </nav>
    <div id="sidebarbottom">
      <button id="filterbutton">Filter Pencarian</button>
    </div>
    </form>
  </div>
  <div id="rightsidebarcontainer" class="rightsidebarcontainerhide">
    <div id="rightsidebarwithbutton">
      <button id="rightsidebarbutton" class="rightsidebarbuttonhide">&blacktriangleleft;</button>
      <div id="rightsidebarcontent">
        <div class="housedetailtitle">
          <p>Belum ada rumah yang dipilih</p>
          <p>Pilih rumah dengan menekan tombol 'Lihat Info Rumah'</p>
        </div>
      </div>
    </div>
  </div>
  <main id="maincontent">
    <div id="mapbackground">
      <div id="mapcontainer">
      </div>
    </div>
    <p id="pagenumber"></p>
    <p id="filters"></p>
    <p id="total"></p>
    <input type="text" id="status" hidden>
    <div id="housecardcontainer">

    </div>
  </main>

  </div>
  <script src='files/jquery-3.6.0.min.js'></script>
  <script src="files/jquery-ui.min.js"></script>
  <script>
    let mapcontent = L.map('mapcontainer').setView([-2.548, 118.037], 3)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mapcontent);

    let layers = L.layerGroup([])

    function read(page, filter, status) {
      let cardcontainer = $('#housecardcontainer');
      let url = `house?page=${page ? page : 1}${filter ? '&' + filter : ''}`;
      $.ajax({
        url: url,
        method: 'GET'
      }).done((response) => {
        let rs = response;
        let data = rs.data;
        $('#page').empty();
        $('#pagenumber').text(rs.page);
        $('#total').text(rs.total);
        $('#filters').text(rs.filters);
        data.forEach((e) => {
          let card = `<div class="housecard">
        <div class="housecardthumbnail">
          <div class="housecardimagelayout">
            <img class="housecardimage" src="${e.images ? e.images[0].path : ''}" ${e.images ? '' : 'hidden'}>
            ${e.images ? '' : '<img src="/images/logowhite.png">'}
          </div>
        </div>
        <div class="housecardtitle">
          <h2 class="housecardtitletext">${e.name}</h2>
        </div>
        <div class="housecardprice">
          Rp ${e.price}
        </div>
        <div class="housecardspecbasic">
          <div class="housecardattribute">
            <strong class="housecardattributebasic">Tipe</strong><strong>: &nbsp</strong><span>${e.type}</span>
          </div>
          <div class="housecardattribute">
            <strong class="housecardattributebasic">Luas Tanah</strong><strong>: &nbsp</strong><span>${e.landarea}
              &nbsp</span>m2
          </div>
          <div class="housecardattribute">
            <strong class="housecardattributebasic">Sertifikat</strong><strong>: &nbsp</strong><span>${e.certificate}</span>
          </div>
        </div>
        <hr>
        <div class="housecardspec">
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.carport ? '&checkmark;' : '&Cross;'} Garasi</div>
          </div>
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.kitchen ? '&checkmark;' : '&Cross;'} Dapur</div>
          </div>
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.yard ? '&checkmark;' : '&Cross;'} Halaman</div>
          </div>
        </div>
        <div class="housecardspec">
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.garden ? '&checkmark;' : '&Cross;'} Kebun</div>
          </div>
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.livingroom ? '&checkmark;' : '&Cross;'} Ruang Tamu</div>
          </div>
          <div class="housecardfeaturecontainer">
            <div class="housecardfeature">${e.diningroom ? '&checkmark;' : '&Cross;'} Ruang Makan</div>
          </div>
        </div>
        <div class="housecardbuttoncontainer">
          <input type="number" value="${e.id}" hidden>
          ${status === 'selected' ? '<button class="housecardbuttoncompare">Bandingkan Pilihan Rumah</button>' : '<button class="housecardbutton">Lihat Info Rumah</button>'}
        </div>
      </div>`
          cardcontainer.html(cardcontainer.html() + card);
          layers.addLayer(L.marker([e.lat, e.long])).addTo(mapcontent)
        })
      })
    }



    $('#searchinput').keyup(function (event) {
      layers.clearLayers()
      $('#housecardcontainer').empty()
      if (!$('#searchinput').val()) {
        return read(1);
      }
      if (!isNaN(parseInt($('#searchinput').val()))) {
        read(1, `checkprice=on&price=${$(this).val()}`)
      } else {
        let searchArr = $('#searchinput').val().split(' ')
        if (searchArr.length === 2) {
          if (searchArr[0].toLowerCase() === 'tipe' || searchArr[0].toLowerCase() === 'type') {
            return read(1, `checktype=on&type=${searchArr[1]}`)
          }
        }
        read(1, `checkname=on&name=${$(this).val()}`)
      }
    })

    $('#searchfilterbutton').click(function (event) {
      event.preventDefault()
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainerhide', true);
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainershow', false);
      $('#rightsidebarbutton').toggleClass('rightsidebarbuttonhide', true, 100)
      $('#rightsidebarbutton').toggleClass('rightsidebarbuttonshow', false, 100)
      $('#maincontent').removeClass('maincontentreduceright')
      $('#rightsidebarbutton').text('◂')
      $('#sidebarcontainer').toggle('slide', 'right', 200);
      $('#maincontent').toggleClass('maincontentreduceleft')
    })

    $("#browse").on('submit', (event) => {
      event.preventDefault();
      layers.clearLayers()
      $('#housecardcontainer').empty()
      let formQuery = `&${$("#browse").serialize()}`;
      read(1, formQuery);
    })

    $('#housecardcontainer').on('click', '.housecardbutton', function (event) {
      $('.housecardbutton').addClass('housecardbuttoncompare');
      $('.housecardbutton').text('Bandingkan Pilihan Rumah')
      $('.housecardbuttoncompare').removeClass('housecardbutton');
      $(this).removeClass('housecardbuttoncompare');
      $(this).removeClass('housecardbutton');
      $(this).addClass('housecardbuttonselected');
      $(this).addClass('housecardbuttonremove');
      $(this).text('Hapus Pilihan Rumah');
      $('#status').val('selected');
      event.preventDefault()

      let sidebarcontent = $('#rightsidebarcontent');
      sidebarcontent.empty();
      $.ajax({
        url: `house/${$(this).prev().val()}`,
        method: 'GET'
      }).done((response) => {
        let data = response;
        let housedetail = `
        <div class="rightsidebarcontentcontainer rightsidebarselected">
        <div class="housedetailremovebuttoncontainer">
          <button class="housedetailbuttonremove housedetailremoveselected">-</button>
        </div>
<div class="housedetailtitle">
  <h2>${data.name}</h2>
</div>
<div class="housedetailprice">
  Rp ${data.price}
</div>
<div class="housedetailthumbnail">
  <div class="housedetailimagelayout">
    <img class="housedetailimage" src="${data.images ? data.images[0].path : ''}" ${data.images ? '' : 'hidden'}>
            ${data.images ? '' : '<img class="housedetailimage" src="/images/logowhite.png">'}
  </div>
</div>
<div class="housedetailcarousel">

</div>
<div class="housedetailmoretitle">
  <h4 class="housedetailmoretitletext">Deskripsi</h4>
  <button class="housedetailmorehidebutton housedetailmoredescbutton" >Hide</button>
</div>
<div id="housedetaildescription">
  <div class="housedetailattributecontainer">
    <div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Tipe</strong><strong>: &nbsp</strong><span>${data.type}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Luas Tanah</strong><strong>:
          &nbsp</strong><span>${data.landarea}</span>m2
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Sertifikat</strong><strong>: &nbsp</strong><span>${data.certificate}</span>
      </div>
    </div>
    <div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Lantai</strong><strong>: &nbsp</strong><span>${data.numfloor}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Kamar Tidur</strong><strong>: &nbsp</strong><span>${data.bedroom}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Kamar Mandi</strong><strong>: &nbsp</strong><span>${data.bathroom}</span>
      </div>
    </div>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Fitur</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailattribute">
    <span>${data.carport ? 'Garasi, ' : ''}${data.kitchen ? 'Dapur, ' : ''}${data.garden ? 'Kebun, ' : ''}${data.yard ? 'Halaman, ' : ''}${data.livingroom ? 'Ruang Tamu, ' : ''}${data.diningroom ? 'Ruang Makan' : ''}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Alamat</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailattribute">
    <span>${data.address}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Lokasi</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailmap">
    <iframe width="50%" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=88.02246093750001%2C-15.029685756555674%2C137.06542968750003%2C10.055402736564236&amp;layer=mapnik&amp;marker=${data.lat}%2C${data.long}"></iframe><small><a
        href="https://www.openstreetmap.org/?mlat=-2.548&amp;mlon=112.544#map=5/-2.548/112.544">View Larger
        Map</a></small>
  </div>
</div>
<div class="housedetailmoretitle">
  <h4 class="housedetailmoretitletext">Spesifikasi</h4>
  <button class="housedetailmorehidebutton housedetailmorespecbutton">Hide</button>
</div>
<div id="housedetailspec">
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Pondasi</strong><strong>: &nbsp</strong><span>${data.foundation || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Jenis Lantai</strong><strong>:
      &nbsp</strong><span>${data.floortype || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Ukuran</strong><strong>: &nbsp</strong><span>${data.floorlength ? data.floorlength + ' x ' + data.floorlength : 'Tidak ada data'} </span>
  </div>

  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Kusen</strong><strong>: &nbsp</strong><span>${data.jamb || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Plafon</strong><strong>: &nbsp</strong><span>${data.ceiling || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Atap</strong><strong>: &nbsp</strong><span>${data.roof || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Dinding</strong><strong>: &nbsp </strong><span>${data.wall ? data.wall.reduce((prev, current) => prev + ', ' + current) : 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Sanitasi</strong><strong>: &nbsp </strong><span>${data.sanitary ? data.sanitary.reduce((prev, current) => prev + ', ' + current) : 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Listrik</strong><strong>: &nbsp</strong><span>${data.electricity ? data.electricity + ' W' : 'Tidak ada data'}</span>
  </div>
</div>
</div>
`
        sidebarcontent.html(sidebarcontent.html() + housedetail);
        $('#sidebarcontainer').hide('slide', 'right', 200);
        $('#maincontent').removeClass('maincontentreduceleft')
        $('#rightsidebarcontainer').toggleClass('rightsidebarcontainerhide', false, 100)
        $('#rightsidebarcontainer').toggleClass('rightsidebarcontainershow', true, 100)
        $('#rightsidebarbutton').toggleClass('rightsidebarbuttonhide', false, 100)
        $('#rightsidebarbutton').toggleClass('rightsidebarbuttonshow', true, 100)
        $('#rightsidebarbutton').text('▸')
        $('#maincontent').toggleClass('maincontentreduceright', true)
      }).fail(function (event) {
        event.preventDefault()
        let data = response;
        let housedetail = `
<div class="housedetailtitle">
  <h2>Data Gagal Ditampilkan</h2>
</div>
`
        sidebarcontent.html(sidebarcontent.html() + housedetail);
        $('#sidebarcontainer').hide('slide', 'right', 200);
        $('#maincontent').removeClass('maincontentreduceleft')
        $('#rightsidebarcontainer').toggle('slide', { direction: 'right' }, 200);
        $('#maincontent').toggleClass('maincontentreduceright')
      })
    })


    $('#housecardcontainer').on('click', '.housecardbuttoncompare', function (event) {
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare', true, 100)
      $('#maincontent').toggleClass('maincontentcompare', true, 100)
      $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare', true, 100);
      if ($('.housecardbuttoncompareselected')) {
        $('.housecardbuttoncompareselected').removeClass('housecardbuttonremove')
        $('.housecardbuttoncompareselected').addClass('housecardbuttoncompare');
        $('.housecardbuttoncompareselected').text('Bandingkan Pilihan Rumah')
        $('.housecardbuttoncompareselected').removeClass('housecardbuttoncompareselected')
      }
      if ($('.rightsidebarcontent').children().length > 1) {
        $('.rightsidebarcompare').remove();
      }
      $(this).removeClass('housecardbuttoncompare');
      $(this).addClass('housecardbuttoncompareselected');
      $(this).addClass('housecardbuttonremove');
      $(this).text('Hapus Pilihan Rumah');
      $('#status').val('compare');
      let sidebarcontent = $('#rightsidebarcontent');
      $.ajax({
        url: `house/${$(this).prev().val()}`,
        method: 'GET'
      }).done((response) => {
        let data = response;
        let housedetail = `
        <div class="rightsidebarcontentcontainer rightsidebarcompare">
          <div class="housedetailremovebuttoncontainer">
          <button class="housedetailbuttonremove housedetailremovecompare">-</button>
        </div>
<div class="housedetailtitle">
  <h2>${data.name}</h2>
</div>
<div class="housedetailprice">
  Rp ${data.price}
</div>
<div class="housedetailthumbnail">
  <div class="housedetailimagelayout">
    <img class="housedetailimage" src="${data.images ? data.images[0].path : ''}" ${data.images ? '' : 'hidden'}>
            ${data.images ? '' : '<img class="housedetailimage" src="/images/logowhite.png">'}
  </div>
</div>
<div class="housedetailcarousel">

</div>
<div class="housedetailmoretitle">
  <h4 class="housedetailmoretitletext">Deskripsi</h4>
  <button class="housedetailmorehidebutton housedetailmoredescbutton" >Hide</button>
</div>
<div id="housedetaildescription">
  <div class="housedetailattributecontainer">
    <div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Tipe</strong><strong>: &nbsp</strong><span>${data.type}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Luas Tanah</strong><strong>:
          &nbsp</strong><span>${data.landarea}</span>m2
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Sertifikat</strong><strong>: &nbsp</strong><span>${data.certificate}</span>
      </div>
    </div>
    <div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Lantai</strong><strong>: &nbsp</strong><span>${data.numfloor}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Kamar Tidur</strong><strong>: &nbsp</strong><span>${data.bedroom}</span>
      </div>
      <div class="housedetailattribute">
        <strong class="housedetailattributebasic">Kamar Mandi</strong><strong>: &nbsp</strong><span>${data.bathroom}</span>
      </div>
    </div>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Fitur</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailattribute">
    <span>${data.carport ? 'Garasi, ' : ''}${data.kitchen ? 'Dapur, ' : ''}${data.garden ? 'Kebun, ' : ''}${data.yard ? 'Halaman, ' : ''}${data.livingroom ? 'Ruang Tamu, ' : ''}${data.diningroom ? 'Ruang Makan' : ''}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Alamat</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailattribute">
    <span>${data.address}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Lokasi</strong><strong>: &nbsp</strong>
  </div>
  <div class="housedetailmap">
    <iframe width="50%" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=88.02246093750001%2C-15.029685756555674%2C137.06542968750003%2C10.055402736564236&amp;layer=mapnik&amp;marker=${data.lat}%2C${data.long}"></iframe><small><a
        href="https://www.openstreetmap.org/?mlat=-2.548&amp;mlon=112.544#map=5/-2.548/112.544">View Larger
        Map</a></small>
  </div>
</div>
<div class="housedetailmoretitle">
  <h4 class="housedetailmoretitletext">Spesifikasi</h4>
  <button class="housedetailmorehidebutton housedetailmorespecbutton">Hide</button>
</div>
<div id="housedetailspec">
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Pondasi</strong><strong>: &nbsp</strong><span>${data.foundation || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Jenis Lantai</strong><strong>:
      &nbsp</strong><span>${data.floortype || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Ukuran</strong><strong>: &nbsp</strong><span>${data.floorlength ? data.floorlength + ' x ' + data.floorlength : 'Tidak ada data'} </span>
  </div>

  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Kusen</strong><strong>: &nbsp</strong><span>${data.jamb || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Plafon</strong><strong>: &nbsp</strong><span>${data.ceiling || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Atap</strong><strong>: &nbsp</strong><span>${data.roof || 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Dinding</strong><strong>: &nbsp </strong><span>${data.wall ? data.wall.reduce((prev, current) => prev + ', ' + current) : 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Sanitasi</strong><strong>: &nbsp </strong><span>${data.sanitary ? data.sanitary.reduce((prev, current) => prev + ', ' + current) : 'Tidak ada data'}</span>
  </div>
  <div class="housedetailattribute">
    <strong class="housedetailattributebasic">Listrik</strong><strong>: &nbsp</strong><span>${data.electricity ? data.electricity + ' W' : 'Tidak ada data'}</span>
  </div>
</div>
</div>
`
        sidebarcontent.html(sidebarcontent.html() + housedetail);

      }).fail(function (event) {
        event.preventDefault()
        let data = response;
        let housedetail = `
<div class="housedetailtitle">
  <h2>Data Gagal Ditampilkan</h2>
</div>
`
        sidebarcontent.html(sidebarcontent.html() + housedetail);

      })

    })


    $('#housecardcontainer').on('click', '.housecardbuttonselected', function (event) {
      $('.rightsidebarselected').remove();
      if ($('#rightsidebarcontent').children().length === 0) {
        $('#rightsidebarcontent').html(` <div class="housedetailtitle">
          <p>Belum ada rumah yang dipilih</p>
          <p>Pilih rumah dengan menekan tombol 'Lihat Info Rumah'</p>
        </div>`)
        $(this).removeClass('housecardbuttonselected');
        $(this).removeClass('housecardbuttonremove')
        $(this).addClass('housecardbutton')
        $(this).text('Lihat Info Rumah');
        $('.housecardbuttoncompare').text('Lihat Info Rumah');
        $('.housecardbuttoncompare').addClass('housecardbutton')
        $('.housecardbuttoncompare').removeClass('housecardbuttoncompare');
        $('#status').val('')
      } else {
        $(this).removeClass('housecardbuttonselected');
        $(this).removeClass('housecardbuttonremove')
        $(this).addClass('housecardbuttoncompare')
        $(this).text('Bandingkan Pilihan Rumah');
        $('.rightsidebarcompare').addClass('rightsidebarselected');
        $('.rightsidebarcompare').removeClass('rightsidebarcompare');
        $('.housecardbuttoncompareselected').addClass('housecardbuttonselected');
        $('.housecardbuttoncompareselected').removeClass('housecardbuttoncompareselected');
        $('.housedetailremovecompare').addClass('housedetailremoveselected')
        $('.housedetailremovecompare').addClass('housedetailremovecompare')
        $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare')
        $('#maincontent').toggleClass('maincontentcompare')
        $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare');
      }
    })

    $('#housecardcontainer').on('click', '.housecardbuttoncompareselected', function (event) {
      $('.rightsidebarcompare').remove();
      $(this).removeClass('housecardbuttoncompareselected');
      $(this).removeClass('housecardbuttonremove')
      $(this).addClass('housecardbuttoncompare')
      $(this).text('Bandingkan Pilihan Rumah');
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare')
      $('#maincontent').toggleClass('maincontentcompare')
      $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare');
      $('#status').val('selected')
    })

    $('#rightsidebarcontent').on('click', '.housedetailremoveselected', function (event) {
      $('.rightsidebarselected').remove();
      if ($('#rightsidebarcontent').children().length === 0) {
        $('#rightsidebarcontent').html(` <div class="housedetailtitle">
          <p>Belum ada rumah yang dipilih</p>
          <p>Pilih rumah dengan menekan tombol 'Lihat Info Rumah'</p>
        </div>`)
        $('.housecardbuttonselected').removeClass('housecardbuttonremove')
        $('.housecardbuttonselected').addClass('housecardbutton')
        $('.housecardbuttonselected').text('Lihat Info Rumah');
        $('.housecardbuttonselected').removeClass('housecardbuttonselected');
        $('.housecardbuttoncompare').text('Lihat Info Rumah');
        $('.housecardbuttoncompare').addClass('housecardbutton')
        $('.housecardbuttoncompare').removeClass('housecardbuttoncompare');
        $('#status').val('')
      } else {
        $('.housecardbuttonselected').removeClass('housecardbuttonremove')
        $('.housecardbuttonselected').addClass('housecardbuttoncompare')
        $('.housecardbuttonselected').text('Bandingkan Pilihan Rumah');
        $('.housecardbuttonselected').removeClass('housecardbuttonselected');
        $('.rightsidebarcompare').addClass('rightsidebarselected');
        $('.rightsidebarcompare').removeClass('rightsidebarcompare');
        $('.housecardbuttoncompareselected').addClass('housecardbuttonselected');
        $('.housecardbuttoncompareselected').removeClass('housecardbuttoncompareselected');
        $('.housedetailremovecompare').addClass('housedetailremoveselected')
        $('.housedetailremovecompare').addClass('housedetailremovecompare')
        $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare')
        $('#maincontent').toggleClass('maincontentcompare')
        $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare');
      }
    })

    $('#rightsidebarcontent').on('click', '.housedetailremovecompare', function (event) {
      $('.rightsidebarcompare').remove();
      $('.housecardbuttoncompareselected').removeClass('housecardbuttonremove')
      $('.housecardbuttoncompareselected').addClass('housecardbuttoncompare')
      $('.housecardbuttoncompareselected').text('Bandingkan Pilihan Rumah');
      $('.housecardbuttoncompareselected').removeClass('housecardbuttoncompareselected');
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare', false)
      $('#maincontent').toggleClass('maincontentcompare', false)
      $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare', false);
      $('#status').val('selected')
    })

    $('#rightsidebarbutton').click(function (event) {
      event.preventDefault()
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainerhide', 100)
      $('#rightsidebarcontainer').toggleClass('rightsidebarcontainershow', 100)
      $(this).toggleClass('rightsidebarbuttonhide', 100)
      $(this).toggleClass('rightsidebarbuttonshow', 100)
      $(this).text($(this).text() === '▸' ? '◂' : '▸')
      $('#maincontent').toggleClass('maincontentreduceright');

      if ($('#status').val() === 'compare') {
        $('#rightsidebarcontainer').toggleClass('rightsidebarcontainercompare')
        $('#maincontent').toggleClass('maincontentcompare')
        $('#rightsidebarbutton').toggleClass('rightsidebarbuttoncompare');
      }
    })

    $('#rightsidebarcontent').on('click', '.housedetailmoredescbutton', function (event) {
      event.preventDefault()
      $(this).text($(this).text() === 'Hide' ? 'Show' : 'Hide')
      $(this).parent().next().toggle();
      $(this).toggleClass('housedetailmorehidebutton');
      $(this).toggleClass('housedetailmoreshowbutton');
    })

    $('#rightsidebarcontent').on('click', '.housedetailmorespecbutton', function (event) {
      event.preventDefault()
      $(this).text($(this).text() === 'Hide' ? 'Show' : 'Hide')
      $(this).parent().next().toggle();
      $(this).toggleClass('housedetailmorehidebutton');
      $(this).toggleClass('housedetailmoreshowbutton');
    })


    $('#housedetailmorespecbutton').click(function (event) {
      event.preventDefault()
      $(this).text($(this).text() === 'Hide' ? 'Show' : 'Hide')
      $('#housedetailspec').toggle();
      $('#housedetailmorespecbutton').toggleClass('housedetailmorehidebutton');
      $('#housedetailmorespecbutton').toggleClass('housedetailmoreshowbutton');
    })

    $(document).ready(() => {
      $('#loadcontainer').hide();
      $('#pagenumber').hide();
      $('#total').hide();
      $('#filters').hide();
      read();
    })
    $(document).scroll(() => {
      if ($(document).height() - ($(window).height() + $(window).scrollTop()) < 10) {
        if ($('#housecardcontainer').children().length < $('#total').text()) {
          read(parseInt($('#pagenumber').text()) + 1, '', $('#status').val())
        }
      }
    })
  </script>

</body>

</html>