html {
}

body {
  height: 100%;
  padding: 0px;
  background-color: rgb(14, 219, 255);
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffff;
}

#loadcontainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(14, 219, 255);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#navbar {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 70px;
  background-image:linear-gradient(rgb(118, 218, 201),rgb(14, 219, 255));
  justify-content: space-between;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  z-index: 12;
}

button {
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ffff;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
  background-color: #ffff;
  color: rgb(118, 218, 201);
}

p {
  margin: 0;
}

a:active, a:link {
  text-decoration: none;
}

a:visited {
  color: #ffff;
}

#logowithsearch {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

#logocontainer {
  width: 80%;
}

#logo {
  font-family:'Oswald' , sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 10px rgb(110, 110, 110);
}

#logocapt {
  width: 100%;
  font-family:'Caveat', cursive; 
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 10px  rgb(110, 110, 110);
}

#searchcontainer {
  width: 100%;
  background-color: #ffff;
  border-radius: 10px;
  height: 50px;
  display: flex;
}

#searchfilterbutton {
  background-image:linear-gradient(rgb(118, 218, 201),rgb(14, 219, 255));
  margin-right: 10px;
}

#searchfilterbutton:hover {
 background-image: none;
 background-color: #ffff;
}

#searchfilterbutton:hover > div {
  background-image: url('/images/setting-icon-dark.png');
}

#searchfilterbuttonimg {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url('/images/setting-icon.png');
}


#searchinput {
  width: 100%;
  border: 2px solid #ffff;
  border-radius: 10px;
  padding-left: 10px;
}

#searchinput:focus {
  outline: transparent;
}


#login:hover {
  color: rgb(118, 218, 201);
  background-color: #ffff;
}

#sidebarcontainer {
  width: 20vw;
  height: 100vh;
  background-color: rgb(14, 219, 255);
  z-index: 10;
  position: fixed;
  display: none;
}

.maincontentreduceleft {
  padding-left: 20vw;
}

.maincontentreduceright {
  padding-right: 30vw;
}

#sidebar {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: rgb(14, 219, 255);
  justify-content: space-between;
  overflow-y: scroll;
  box-sizing: border-box;
  
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(10, 150, 175)
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(110, 110, 110);
}

#sidebarbottom {
  width: 100%;
  height: 10%;
  background-color:rgb(118, 218, 201);
  display: flex;
  align-items: center;
  justify-content: center;
}


.filtercontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}


.filtercheckboxcontainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.filterlabel {
  font-weight: bold;
}

.filterinputcontainer {
  width: 100%;
}

.filterinput {
  box-sizing: border-box;
  width: 100%;
  width: 100%;
  border: 2px solid #ffff;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffff;
}

.filterselectinput {
  color: gray;
}

option {
  color: black;
}

.filterinput:focus {
  outline: transparent;
}

#filterbutton {
  background-color: rgb(252, 200, 59);
  color: black;
  border: none;
}

#filterbutton:hover {
  background-color: #ffff;
  color: rgb(118, 218, 201);
}

#maincontent {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(14, 219, 255);
  color: black;
  z-index: -1;
  transition: all .3s ease;
}

#mapbackground {
  position: sticky !important;
  top: 70px;
  height: 200px;
  background-color: rgb(14, 219, 255);
  z-index: 4;
  padding-top: 10px;
  margin-bottom: 50px;
}

#mapcontainer {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 95%;
  height: 200px;
  border-radius: 20px;
  z-index:4;
  box-shadow: 0px 10px 10px gray;
}




#housecardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
}

.housecard {
  background-color: white;
  width: 25%;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s ease;
  box-shadow: 1px 1px 5px gray;
  min-width: 285px;
  max-width: 400px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}


.housecard:hover{
  transform: scale(1.1);
}

.housecardthumbnail {
  width: 100%; 
  display:flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
}

.housecardimagelayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.housecardimage {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.housecardtitle {
  margin-top: 10px;
}

.housecardtitletext {
  margin: 0px;
  text-align: center;
}

.housecardprice {
  font-family:'Oswald' , sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: rgb(224, 222, 252);
  font-weight: bold;
}
.housecardattributebasic {
  font-size: 12px;
}

.housecardspecbasic {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.housecardspec {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.housecardfeaturecontainer {
  display: flex;
  font-size: 14px
}

.housecardfeature {
  width: 90px;
  font-size: 10px;
}

.housecardbuttoncontainer {
  margin-top: 10px;
  display: flex; 
  justify-content: center;
}

.housecardbutton {
  background-color: rgb(19, 141, 255); 
  width: 100%;
}

.housecardbutton:hover {
  background-color: rgb(14, 85, 151); 
  width: 100%;
}

.housecardbuttonremove {
  background-color: rgb(252, 59, 59) !important; 
  width: 100%;
}

.housecardbuttonremove:hover {
  background-color: rgb(136, 34, 34) !important; 
  width: 100%;
}

.housecardbuttoncompare {
  background-color:  rgb(23, 124, 48); 
  width: 100%;
}

.housecardbuttoncompare:hover {
  background-color: rgb(17, 59, 24);
  width: 100%;
}


#rightsidebarcontainer {
  position: fixed;
  height: 100vh;
  background-color: #ffff;
  color: black;
  overflow-y: scroll;
  direction: rtl;
  z-index: 5;
  right: 0;
}

.rightsidebarcontainerhide {
  width: 0;
}

.rightsidebarcontainershow {
  display: block;
  width: 30vw;
}

.maincontentcompare {
  padding-right: 60vw;
}

.rightsidebarcontainercompare {
  width: 60vw;
}

#rightsidebarwithbutton {
  display: flex;
  flex-direction: row-reverse;
}

#rightsidebarbutton {
  direction: ltr;
  margin-top: 50px;
  top: 50%;
  border: none;
  position: fixed;
  font-size: 20px;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgb(179, 179, 179);
}

.rightsidebarbuttonhide {
  right: 0;
}

.rightsidebarbuttonshow {
  right: 30vw;
}

#rightsidebarbutton:hover {
  background-color: rgb(75, 75, 75);
}


#rightsidebarcontent {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  direction: ltr;
}

.rightsidebarcontentcontainer {
  display: flex;
  flex-direction: column;
  direction: ltr;
  width: 300px;
}

.rightsidebarbuttoncompare {
  right: 60vw;
}

h3 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.housedetailremovebuttoncontainer {
  display: flex; 
  justify-content: flex-end;
}

.housedetailbuttonremove {
  background-color: rgb(252, 59, 59) !important; 
  width: 50px;
}

.housedetailbuttonremove:hover {
  background-color: rgb(143, 34, 34) !important; 
  width: 50px;
}

.housedetailtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.housedetailprice {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: rgb(224, 222, 252);
  margin-bottom: 10px;
}

.housedetailmoretitle {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}


.housedetailmoretitletext {
  margin-top: 5px;
  margin-bottom: 5px;
}

.housedetailmorehidebutton {
    background-color: #ffff;
    color: rgb(252, 59, 59);
    border: 2px solid rgb(252, 59, 59);
    font-size: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.housedetailmorehidebutton:hover {
  background-color: rgb(117, 33, 33);
  border: 2px solid rgb(117, 33, 33);
  color: #ffff;
}

.housedetailmoreshowbutton {
  background-color: #ffff;
  border: 2px solid rgb(23, 124, 48);
  color:  rgb(23, 124, 48);
  font-size: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.housedetailmoreshowbutton:hover {
  border: 2px solid rgb(17, 59, 24);
background-color: rgb(17, 59, 24);
color: #ffff;
}

.housedetailthumbnail {
  width: 100%; 
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  
}

.housedetailimagelayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.housedetailimage {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.housedetailattributecontainer {
  display: flex;
}

.housedetailattribute {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-size: 14px
}

.housedetailattributebasic {
  width: 80px;
}

.housedetailmap {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%; 
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  box-sizing: border-box;
}